html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", cursive;
  /* font-family: "Yeseva One", cursive; */
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  scroll-behavior: smooth;
}
.title {
  font-size: 40px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "Yeseva One";
}
.button {
  font-family: "Comfortaa";
  font-weight: 600;
  padding: 18px 54px;
  background: #ffbd59;
  font-size: 14px;
  transition: background 0.6s;
  &:hover {
    background: #7b6152;
  }
}
.section {
  padding-bottom: 150px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
button {
  border: none;
  cursor: pointer;
}
.section--decor {
  position: relative;
}
.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}
.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}
.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}
.menu__btn span {
  height: 1px;
  width: 100%;
  background-color: #7b6152;
}
.header {
  background-color: #fff8f3;
}
.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 20px;
}
.menu__list-link {
  text-transform: uppercase;
}
.phone {
  position: relative;
}
.phone::before {
  position: absolute;
  content: "";
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -4px;
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}
.top {
  padding: 40px 0 150px;
}
.top__inner {
  position: relative;
}
.top__content {
  width: 370px;
  padding: 150px 0 250px;
}
.top__title {
  font-size: 30px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
  font-weight: 400;
}

.top__text {
  margin-bottom: 48px;
}
.top__buy {
  font-family: "Comfortaa";
  font-weight: 600;
  padding: 18px 54px;
  background: #ffbd59;
  font-size: 14px;
}
.top__img {
  position: absolute;
  top: 0;
  left: 300px;
}
.about {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
  margin-bottom: 150px;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  min-width: 370px;
}
.about__title {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
}
.about__text {
  margin-bottom: 15px;
}
.about__list {
  padding-left: 110px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  flex-basis: 930px;
  gap: 0 20px;
}

.about__item-img {
  margin-bottom: 10px;
}
.about__item-text {
  font-size: 11px;
}

.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}

.section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}
.products__content {
  gap: 50px 90px;
}
.products__item {
  text-align: center;
  width: 290px;
  margin: 0 auto;
}

.products__item-img {
  margin-bottom: 8px;
}
.product__item-price {
  font-size: 16px;
  font-family: "Yeseva One";
  margin-bottom: 12px;
}
.products__item-title {
  font-family: "Yeseva One";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.product__item-text {
  font-size: 12px;
  margin-bottom: 27px;
}
.product__item-text--2 {
  padding-bottom: 14px;
}

.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}
.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}
.steps__item::before {
  counter-increment: number;
  content: "0" counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  color: #bea495;
  font-family: "Yeseva One";
}
.steps__item:nth-child(n + 10):before {
  content: counter(number);
}

.steps__item.steps__item--even::before {
  left: auto;
  right: 0;
}

.steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

.courses__item-img {
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One";
}
.courses__title {
  padding: 15px;
  left: 10px;
  top: 45%;
}

.courses__time {
  padding: 7px 10px;
  left: 10px;
  top: 60%;
}
.courses__time span {
  font-size: 10px;
  font-family: "Comfortaa", cursive;
}
.courses__prise {
  padding: 19px 10px;
  right: 0px;
  bottom: 2px;
}
.courses__title,
.courses__time,
.courses__prise {
  background-color: #bea495;
  position: absolute;
}
.courses__item-text {
  padding-bottom: 14px;
}
.team {
  color: #fafafa;
  background-color: #a5978e;
  padding: 80px 60px;
  margin-bottom: 150px;
}
.team__content {
  padding: 0;
  gap: 75px;
}
.team__item {
  position: relative;
}
.team__img {
  width: 217px;
}

.team__item-box {
  background-color: #7b6152;
  text-align: center;
  position: absolute;
  padding: 15px 10px 16px;
  width: 165px;
  z-index: 4;
  bottom: 13px;
  right: 33px;
}
.team__item-name {
  font-family: "Yeseva One";
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
}
.team__item-descr {
  font-size: 10px;
}
.feedback__descr {
  margin-right: 20px;
}
.feedback__content {
  padding-bottom: 110px;
}
.feedback__item-content {
  padding-bottom: 70px;
}
.feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0 16px;
}
.feedback__item-video {
  position: relative;
}
.feedback__item-videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.feedback__item-sociallink img {
  margin-bottom: 12px;
}
.feedback__item-name {
  font-family: "Yeseva One";
  margin-bottom: 15px;
  font-size: 16px;
}

.feedback__item-text {
  margin-bottom: 15px;
}
.feedback__item-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.feedback__slider {
  width: 760px;
  overflow: hidden;
}
.feedback__content .swiper-pagination {
  bottom: 56px;
}
.swiper-pagination-bullet {
  background-color: #bea495;
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #7b6152;
}
.certificates__descr {
  margin-right: 20px;
}
.certificates__slider {
  overflow: hidden;
  width: 1135px;
}
.certificates__content {
  padding-bottom: 114px;
}
.certificates__content .swiper-pagination {
  bottom: 60px;
  text-align: left;
}

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.email {
  margin: 17px 0;
}
.footer__social {
  display: flex;
  gap: 15px;
}

@media (max-width: 1050px) {
  .steps__list {
    gap: 37px 35px;
  }
  .steps__item {
    gap: 0 30px;
  }
  .team__content {
    gap: 30px 20px;
  }
  .team {
    padding: 50px 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__img {
    left: 300px;
  }
  .top__img-l {
    width: 655px;
  }
  .about__content {
    min-width: 299px;
  }
  .about__list {
    padding-left: 20px;
  }
  .section__inner {
    grid-template-columns: 290px auto;
    gap: 0 10px;
  }
  .products__text {
    font-size: 10px;
  }
  .products__content {
    gap: 67px;
  }
  .feedback__inner {
    grid-template-columns: 260px auto;
  }
  .feedback__slider {
    width: 690px;
  }
  .certificates__content img {
    width: 280px;
  }
  .certificates__slider {
    width: 880px;
  }
}
@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__social {
    justify-content: center;
  }
  .products__content {
    gap: 30px 16px;
  }
  .section__inner {
    grid-template-columns: 200px auto;
    gap: 0 10px;
  }
  .steps__title {
    font-size: 32px;
  }
  .steps__list {
    gap: 25px 34px;
  }
  .steps__item-text {
    flex-basis: 94px;
  }
  .steps__item {
    gap: 0 20px;
  }
  .steps__item-img {
    width: 85px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
    padding: 0;
  }
  .phone::before {
    background-size: cover;
    width: 14px;
    height: 14px;
    left: -16px;
    top: -3px;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    line-height: 15px;
    margin-bottom: 20px;
  }
  .top__img {
    top: -10px;
    left: 180px;
  }
  .about__content {
    min-width: 199px;
  }
  .about__list {
    margin-left: 27px;
    padding-bottom: 32px;
    gap: 0 10px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .about__item-img--1,
  .about__item-img--3 {
    width: 121px;
  }
  .about__item-img--2 {
    width: 191px;
  }
  .products__text {
    font-size: 10px;
  }
  .products__item {
    width: 200px;
  }
  .products__item-img {
    width: 200px;
    margin-bottom: 6px;
  }
  .product__item-price,
  .products__item-title {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .product__item-text {
    font-size: 8px;
    margin-bottom: 18px;
  }
  .product__item-text--2 {
    padding-bottom: 9px;
  }
  .title {
    font-size: 15px;
  }
  .button {
    padding: 10px 26px;
    font-size: 12px;
  }
  .steps__title {
    font-size: 15px;
  }
  .steps__item::before {
    font-size: 20px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .courses__item-img {
    font-size: 9px;
  }
  .courses__title {
    padding: 8px;
    left: -1px;
    top: 44%;
  }
  .courses__time {
    left: -1px;
    top: 60%;
  }
  .courses__prise {
    padding: 10px 10px;
    right: -5px;
    bottom: 3px;
  }
  .courses__item-text {
    padding-bottom: 9px;
  }
  .team__content {
    gap: 30px 14px;
  }
  .team__item-box {
    width: 107px;
    padding: 9px 6px 10px;
    bottom: 5px;
    right: 0px;
  }

  .team__item-name {
    font-size: 8px;
  }
  .team__item-descr {
    font-size: 7px;
  }
  .team__img {
    width: 148px;
    height: 155px;
  }
  .feedback__slider {
    width: 450px;
  }
  .feedback__item-sociallink img {
    width: 15px;
    margin-bottom: 10px;
  }
  .feedback__item-name {
    margin-bottom: 10px;
  }
  .feedback__item-video {
    width: 200px;
  }
  .feedback__item-img {
    width: 200px;
  }
  .feedback__item-videobtn img {
    width: 50px;
  }
  .feedback__item-content {
    padding-bottom: 50px;
  }
  .feedback__item-text {
    margin-bottom: 0;
  }
  .certificates__content img {
    width: 200px;
  }
  .certificates__slider {
    width: 620px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__menu {
    order: 1;
  }
  .header__menu-list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    z-index: 5;
  }
  .header__menu-list.menu--open {
    transform: translateY(0%);
  }
  .menu__btn {
    display: flex;
  }
  .section__inner {
    display: block;
  }
  .section__descr {
    margin-bottom: 30px;
    text-align: center;
  }
  .team__item-box {
    bottom: 5px;
    right: 50px;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer__menu-list {
    flex-direction: column;
  }
  .team__item-box {
    right: -15px;
  }
  .team__content {
    gap: 30px 31px;
  }
  .swiper-pagination-bullet {
    width: 28px;
  }
  .certificates__content .swiper-pagination {
    bottom: 60px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .top__buy {
    padding: 14px 41px;
    font-size: 10px;
  }
  .top__img-l {
    width: 309px;
    left: 167px;
  }
  .about {
    margin-bottom: 50px;
  }
  .about__inner {
    align-items: flex-end;
  }
  .about__content {
    min-width: 171px;
  }
  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }
  .about__item-img--2 {
    width: 140px;
  }
  .about__list {
    margin-left: 5px;
    padding-left: 11px;
    gap: 0 5px;
    padding-bottom: 50px;
    align-items: flex-end;
  }
  .about__item-text {
    display: none;
  }
  .section {
    padding-bottom: 50px;
  }
  .section__content-descr {
    padding-bottom: 62px;
  }
  .section__descr {
    margin: 0 auto 30px;
    width: 300px;
  }
  .steps__text {
    font-size: 8px;
  }
  .steps__list {
    gap: 25px 40px;
  }
  .certificates__slider {
    width: 450px;
    margin: 0 auto;
  }
}

@media (max-width: 404px) {
  .steps__item-text {
    flex-basis: 72px;
    font-size: 6px;
  }
  .steps__list {
    gap: 19px 25px;
  }
  .steps__item {
    gap: 0 16px;
  }
  .steps__item::before {
    font-size: 12px;
  }
  .steps__item-img {
    width: 66px;
    height: 100px;
  }
  .courses__content {
    grid-template-columns: auto;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .title {
    margin-bottom: 10px;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
  .top__img {
    left: auto;
    right: 0;
  }
  .top__img-l {
    width: 185px;
    height: 200px;
  }
  .about {
    padding: 25px 0 10px;
  }
  .about__content {
    min-width: 233px;
  }
  .about__list {
    margin-left: 20px;
    padding-bottom: 30px;
  }

  .about__item-img--2,
  .about__item-img--3 {
    display: none;
  }
  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }
  .section__text {
    font-size: 8px;
  }
  .product__item-text {
    font-size: 6px;
    margin-bottom: 16px;
  }
  .product__item-price,
  .products__item-title {
    font-size: 10px;
    margin-bottom: 6px;
  }
  .products__item {
    width: 150px;
  }
  .products__item-img {
    width: 150px;
    margin-bottom: 5px;
  }
  .products__content {
    gap: 40px 7px;
  }
  .button {
    font-size: 8px;
    padding: 8px 20px;
  }
  .product__item-text--2 {
    padding-bottom: 6px;
  }
  .courses__item,
  .courses__item img {
    width: 255px;
  }
  .team__content {
    grid-template-columns: auto;
    padding: 0;
  }
  .team__img {
    width: 207px;
    height: 220px;
  }
  .team__item-box {
    width: 151px;
    padding: 14px 8px 15px;
  }
  .team__item-name {
    font-size: 11px;
  }
  .team__item-descr {
    font-size: 10px;
  }
  .certificates__slider {
    width: 200px;
  }
  .feedback__item {
    grid-template-columns: auto;
    text-align: center;
  }
  .feedback__slider {
    width: 250px;
    margin: 0 auto;
  }
  .feedback__item-video {
    width: 250px;
  }
  .feedback__item-img {
    width: 250px;
    margin-bottom: 20px;
  }
  .feedback__item-btn {
    bottom: 0;

    left: 0;
    margin: 0 auto;
    width: 124px;
  }
}
