html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", cursive;
  /* font-family: "Yeseva One", cursive; */
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}
button {
  border: none;
  cursor: pointer;
}
.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}
.menu__btn span {
  height: 1px;
  width: 100%;
  background-color: #7b6152;
}
.header {
  background-color: #fff8f3;
}
.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 20px;
}
.menu__list-link {
  text-transform: uppercase;
}
.phone {
  position: relative;
}
.phone::before {
  position: absolute;
  content: "";
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -4px;
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}
.top {
  padding: 40px 0 150px;
}
.top__inner {
  position: relative;
}
.top__content {
  width: 370px;
  padding: 150px 0 250px;
}
.top__title {
  font-size: 30px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
  font-weight: 400;
}

.top__text {
  margin-bottom: 48px;
}
.top__buy {
  font-family: "Comfortaa";
  font-weight: 600;
  padding: 18px 54px;
  background: #ffbd59;
  font-size: 14px;
}
.top__img {
  position: absolute;
  top: 0;
  left: 300px;
}
.about {
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
}
.about__inner {
  display: flex;
  align-items: center;
}
.about__content {
  min-width: 370px;
}
.about__title {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
}
.about__text {
  margin-bottom: 15px;
}
.about__list {
  padding-left: 110px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
  flex-basis: 930px;
  gap: 0 20px;
  position: relative;
}
.about__list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/about-decor.png);
  width: 22px;
  height: 30px;
}
.about__list::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7b6152;
  width: 1000%;
  height: 1px;
}

.about__item-img {
  margin-bottom: 10px;
}
.about__item-text {
  font-size: 11px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}
.email {
  margin: 17px 0;
}
.footer__social {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__img {
    left: 300px;
  }
  .top__img-l {
    width: 655px;
  }
  .about__content {
    min-width: 299px;
  }
  .about__list {
    padding-left: 20px;
  }
}
@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer__social {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
    padding: 0;
  }
  .phone::before {
    background-size: cover;
    width: 14px;
    height: 14px;
    left: -16px;
    top: -3px;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {

    line-height: 15px;
    margin-bottom: 20px;
  }
  .top__img {
    top: -10px;
    left: 180px;
  }
  .about__content {
    min-width: 199px;
  }
  .title {
    font-size: 15px;
  }
  .about__text {

  }
  .about__list {
    padding-left: 48px;
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__menu {
    order: 1;
  }
  .header__menu-list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform 0.5s ease;
    z-index: 5;
  }
  .header__menu-list.menu--open {
    transform: translateY(0%);
  }
  .menu__btn {
    display: flex;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer__menu-list {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .top__buy {
    padding: 14px 41px;
    font-size: 10px;
  }
  .top__img-l {
    width: 309px;
    left: 167px;
  }
}
@media (max-width: 480px) {
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
  .top__img {
    left: auto;
    right: 0;
  }
  .top__img-l {
    width: 185px;
    height: 200px;
  }
}
